.recognitionRootDiv{
    width: 100%; 
    display: flex; 
    align-items: center; 
    /* justify-content: space-around; */
    color: white;
    padding: 2rem;
}

.awardDiv{
    display: flex;
    flex-direction: column;
    border-left: 1px solid #3EB489;
    white-space: noWrap;
}

.eachAward{
    padding: 0.5rem;
    font-size: 1.2rem;
}

.selected{
    color: orange;
    border-left: 3px solid orange;
}

.eachAward:hover{
    cursor: pointer;
    border-left: 3px solid #3EB489;
}

.awardDetail{
    margin-left: 2rem;
    padding: 1rem;
}

.header{
    color: orange;
    font-size: 1.6rem;
    font-weight: bold;
}

.awardDetails{
    font-size: 1.3rem;
    line-height: 130%;
    color: white;
    font-weight: lighter;
}

.review{
    font-size: 1.3rem;
    color: white;
    font-weight: lighter;
}

.reviewer{
    font-size: 1.1rem;
    font-weight: lighter;
    text-align: right;
}