.rootHome {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #454545;
    font-size: 1.6rem;
    color: white;
    width: 100%;
}

.introHome {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    text-align: center;
}

.nameDiv {
    font-size: 2.4rem;
    color: orange;
    font-weight: bold;
    padding: 0.6rem;
    text-align: center;
}

.desingation {
    font-weight: bold;
    text-align: center;
}

.companyDiv {
    font-size: 2rem;
    text-align: center;
}

.iconsGrid {
    margin-top: 3rem;
}

.experience {
    padding: 1rem;
    text-align: center;
    font-size: 1.3rem;
}

input[type="checkbox"] {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    appearance: none;
    box-shadow: -3px -5px 15px rgba(255, 255, 255, 0.5), 10px 10px 15px rgba(70, 70, 70, 0.12);
    border: 8px solid 'rgba(10, 25, 47, 0.85)';
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="checkbox"]:after {
    font-family: FontAwesome;
    content: '\f08c';
    color: white;
    font-size: 1.6rem;
}

input[type="checkbox"]:checked {
    box-shadow: -3px -5px 15px rgba(255, 255, 255, 0.5), 10px 10px 15px rgba(70, 70, 70, 0.12),
        inset -3px -5px 15px rgba(255, 255, 255, 0.5), inset 10px 10px 15px rgba(70, 70, 70, 0.12);

}

@media(max-width: 768px){
    .rootHome{
        font-size: 1.2rem;
        height: 100vh;
    }
    .nameDiv{
        font-size: 2rem;
    }
    .companyDiv{
        font-size: 1.6rem;
    }
    .experience{
        padding: 0.5rem;
    }
    .iconsGrid {
        display: none;
    }
}

@media(max-width: 376px){
    .iconsGrid {
        margin-top: 3rem;
    }
    .nameDiv{
        font-size: 1.6rem;
    }
    .introHome{
        padding: 0;
    }
}